body {
    font-family: 'Lucida Sans';
}

#vet, #customerService, #dispensing {
    border: 5px solid navy;
    background-color: #FFFACD;
    border-radius: 25px;
}

#vetLink, #customerServiceLink, #dispensingLink {
    font-size: 140%;
    text-decoration: none;
    color: darkolivegreen;
    font-family: Candara;
    font-weight: 900;
}

#vetLink:hover, #customerServiceLink:hover, #dispensingLink:hover {
    opacity: .5;
}

