body {
    font-family: 'Lucida Sans';
}

#stock, #order {
    border: 5px solid navy;
    background-color: #FFFACD;
    border-radius: 25px;
}

#stockLink, #orderLink{
    font-size: 200%;
    text-decoration: none;
    color: darkolivegreen;
    font-family: Candara;
    font-weight: 900;
}

#stockLink:hover, #orderLink:hover{
    opacity: .5;
}
