body {
    font-family: 'Lucida Sans';
}

.list-group-item{
    font-size: 150%;
}

.badge{
    font-size: 50%;
}

#pagination{
    background-color: white;
}

.page-link{
    color: navy;
    font-family: 'Lucida Sans';
}
